# Starting of Jupyter Notebook :- Seqeuence Data Types.

to add a cell above the description, select the description  cell and press 'a',
to add a cell below the description, select description cell and press 'b'

# Strings 
these are data types that contain characters and sentences.

In [7]:
strSample = 'Jupyter Notebook'
strSample1 = "Jupyter Notebook1"
strSample2 = '''Jupyter Notebook2'''
print(strSample)
print(strSample1)
print(strSample2)
# string creation

Jupyter Notebook
Jupyter Notebook1
Jupyter Notebook2

# List 
lists are sequence data type, created using square brackets [] and its a sequence elements that contains different data type inside them, like strings, integers, floats,.. etc
Lists are Mutable, means we can modify the given elements even after deploying it or running it. to modify them we use the index value to access the element.

In [2]:
mylist = [1,2,3,4,5,6,7,8,9,10]
print(mylist)
mixedList = [1,2,3,4, "Python for Data Science", 2025.1]
print(mixedList)
mixedList [1] = 2232 # changing or modifying the 2nd element of the list, using the index number 1.
print(mixedList)

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
[1, 2, 3, 4, 'Python for Data Science', 2025.1]
[1, 2232, 3, 4, 'Python for Data Science', 2025.1]

# Arrays 
arrays are created by importing the array module i.e. "from array import"
its stored in contiguous memory locations, arrays stores the same data type.
we got one dimensional array & multidimensional array, like 2D array or 3D array.

In [23]:
from array import array
myarray = array ('i', [1,2,3,4,5,6,7,]) 
# i is the data type for the integers mentioned in the array list, it will only print the given data and not print the values of array in a loop.
print(myarray)
for x in myarray: print(x) #printing values of array list in a loop using for loop.

array('i', [1, 2, 3, 4, 5, 6, 7])
1
2
3
4
5
6
7

# Tuples
 these are also sequence data type just like lists with curly braces () or without them will be fine. the values are  seperated by commas(,) and unlike lists we cannot chanage the elements in tuples once declared. tuple can have any number of elements and they can be of different data types.
Tuples are used to Create Data Structures such as, Dates.

In [2]:
tupleExample = (1,2,3,4,"jupyter notebook") # tuple
print(tupleExample)
tupleExample1 = 1,3,34,5,33, "tuple without curly braces" # this is called tuple packing
print(tupleExample1)
# even after not assigning curly braces to the tuple, we can see in the output that the curly braces are 
# automatically assigned, showing that it is a Tuple data type.

# we are trying to change the value of the 4th element of the tuple but, it will not happen because tuples are immutable.
#tupleExample3 = (1,2,3,4,5)
#tupleExample3[3] = 44
#print(tupleExample3)

t1 = (12,) # to display only single value we put a comman after the value.
print(t1)
 
 # empty tuple
tupleEmpty = ()
print(tupleEmpty) # we can also directly write the variable name & press the run button to get the output.

(1, 2, 3, 4, 'jupyter notebook')
(1, 3, 34, 5, 33, 'tuple without curly braces')
(12,)
()

# Dictionary
Dictionary is a unordered collection of data values which is used to store data values like a map and it holds key value pair,which is provided in the dictionary itself to make it optimise. key values  holds a key and the key value.
Values in the Dictionary can be of different data types and also can be duplicated.
Dictionaries can be created using 'dict ()' function too.

In [5]:
myDict = {1: 'First', 2: 'Second', 'Third' :3, 4:4}
print(myDict)
dict_Function = dict([(1, 'First')]),([(2, 'Second')]),([(3, 'Third')]) # using dict function to create a dictionary.
print(dict_Function)

{1: 'First', 2: 'Second', 'Third': 3, 4: 4}
({1: 'First'}, [(2, 'Second')], [(3, 'Third')])

# Set Sequence Data Type
Set contains different types of data types in anundefined way.
Set does not allow duplcations of the elements of the data types.
set cannot be as same as lists. elements of the sets can be, a number, a string & a tuple.
another set cannot be a part of a set. each set is different from each other.
To Create a set, use curly brackets {} or use the set() function, which is in-built.

In [12]:
setSample = {1,2,3,4,5,6,7,"Jupyter Notebook", 2.34}
print(setSample)
sampleSet = set([1,23,4,45,3,4,5]) #even after entering the same number twice, it will only print the number once/unique values.
print(sampleSet)
setElement = set('example') # prints the each character of the string as a unique element.
print(setElement)
sampleSet1 = set()

{1, 2, 3, 4, 5, 6, 7, 2.34, 'Jupyter Notebook'}
{1, 3, 4, 5, 45, 23}
{'e', 'x', 'l', 'a', 'm', 'p'}

# Range
it is a built-in function of python, used commonly in for looping to perform any operation for a specific number of times. 
range() function takes in 3 arguments:-
1. start value (default = 0)
2. stop value (n-1) n is the stop value minus 1 for example 12-1 = 11 so, 11 will be the actual stop value not 12.
3. step value(optional. increment/decrement. default = 1)

In [15]:
rangeSample = range(1,12,2)
print(rangeSample)
for x in rangeSample: print(x)

range(1, 12, 2)
1
3
5
7
9
11

In [19]:
minusRange = range(10, 1,-1)
print("minusRange :-")
for x in minusRange: print(x)

minusRange :-
10
9
8
7
6
5
4
3
2

In [20]:
fullRange = range(1, 10)
print("Full Ranger:-")
for x in fullRange: print(x)

Full Ranger:-
1
2
3
4
5
6
7
8
9

# Indexing
to display the index number of a particular element, we use circular braces ()
to display the particular element at a given index, we use square brackets []
# String Indexing

In [10]:
name = 'Rohan'
name.index('R') # shows the index value of the corresponding character in the string.

1

In [16]:
name.index('han') # tells us from which index the given string starts.

2

In [17]:
name[2] # gives the character that is present in the 2nd index of the string.

'h'

In [18]:
name[-1]
# gives the 2nd last element of the string.

'n'

# List Indexing

In [25]:
list = [1,2,'a','rohan']
list.index(2) # gives the output of index correspounds to element 2

1

In [30]:
list.index('rohan') # gives the output of index correspounds to element 'rohan'

3

In [31]:
# finding the element coresponnds to the given index value.
list[3]

'rohan'

In [33]:
list[-1] 
# gives the 2nd last element of the list

'rohan'

# Tuple Indexing

In [38]:
tuple1 = (1,2,3,4,5,'rohan')
tuple1.index(2)

1

In [39]:
tuple1.index('rohan')

5

In [40]:
tuple1[2]

3

In [41]:
tuple1[5]

'rohan'

In [47]:
tuple1[6] 
#no element is present at the 6th index so,it will throw an error.

IndexError: tuple index out of range

In [48]:
tuple1[-3]

4

# Array Indexing

In [59]:
 # we are importing the array here and using the * operator to use this array for all the function.
from array import *

value = array('i',[1,2,3,4,5])
print(value) # prints the arrays with their given data type.
for x in value: print(x) # prints each element of the array in sequence wise, or in a loop wise.

array('i', [1, 2, 3, 4, 5])
1
2
3
4
5